.container {
    width: 75%;
    margin: auto;
    text-align: center;
}
img {
    width: 500px;
    height: auto;
}
#message {
    padding-top: 10px;
    color: green;
}
#lettersguessed {
    margin-bottom: 25px;
}
body {
    margin-top: 5%;
    margin-bottom: 5%;
}